* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
}

.navbar {
  /*background-color: aquamarine;*/
  width: 50em;
  text-align: center;
  float: center;
  position: sticky;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
