.App {
  text-align: center;
  /*background-color: aqua;*/
}

.App-icon {
  height: 50px;
  margin: 1em;
}
.App-icon:hover {
  height: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  /*background-image: url("./assets/background-image2.jpg");*/
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  opacity: 0.9;
}

.icon-div {
  height: 2em;
  display: inline-flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
